<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
    </style>
</head>


<body class="admin-bg">
    <form action="/update-classes" method="post" enctype="multipart/form-data">
        <label for="file">classes</label>
        <input type="file" name="file" accept=".csv">


        <button type="submit"> go! </button>
    </form>

    <form action="/update-jobs" method="post" enctype="multipart/form-data">
        <label for="file">jobs</label>
        <input type="file" name="file" accept=".csv">

        <button type="submit"> go! </button>

    </form>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>class Name</th>
                <th>years</th>
                <th>is_mandatory</th>
                <th>prerequisites</th>
                <th>jobs</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject["id"] }}</td>
                <td>{{ subject["name"] }}</td>
                <td>{{ subject["year"] }}</td>
                <td>{% if subject["is_mandatory"] == 0 %} no {% else %} yes {%endif%}</td>
                <td>{{ subject["prerequisites"] }}</td>
                <td class="jobs-td">
                    {% for job in subject["jobs"] %}
                    <div>
                        {{ job[1] }}
                        <form class="x_form" action="/remove-job-from-class/{{subject['id']}}/{{job[0]}}" method="post">
                        </form>
                        <button class="x_button" type="submit">x</button>
                        <!-- TODO change css make one button, make the x button acctually work put the button in the form above update doc with the stuff you did!! -->

                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</body>

</html>