<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Selection</title>
    <style>
        html, body {
            background-color: #062627;
            color: white;
            margin: 0;
            padding: 0;
        }
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #062627;
            z-index: 9999;
        }
    </style>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="preloader"></div>

    <header>{{header}}</header>
    
    <nav class="navbar">
        <ul>
            <div class="dropdown">
                <button><a href="/">Home</a></button>
                <div class="content">
                    <div class="container">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="connect.html">Connect</a></li>
                        <li><a href="https://www.burnside.school.nz/">Burnside</a></li>
                    </div>
                </div>
            </div>
            <div class="subject_selection">
                <button><a href="/subject">Subject Selection</a></button>
            </div>
            <div class="help">
                <button><a href="/help">Help</a></button>
            </div>
            <div class="about">
                <button><a href="/about">About</a></button>
            </div>
        </ul>
    </nav>

    <main>{% block content %}{% endblock %}</main>
    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('preloader');
            if (loader) loader.style.display = 'none';
        });
    </script>
</body>
</html>
